

.submit {
  background: linear-gradient(45deg, #fb4764, #f88d5f) no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 11px 35px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50px;
  margin-bottom: 10px;
}

.input-main input {
  height: 26px;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #a2a2a2;
  font-size: 1rem;
}

.input-main input::placeholder {
  color: #a2a2a2;
}

.input-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #ebebeb;
  border-radius: 100px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.form-select {
    background: none;
    border: none;
}

.input-main svg {
  width: 30px;
  height: auto;
  fill: #a2a2a2;
  margin-right: 10px;
}


.form-box {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 0 14px;
  margin-top: 39px;
}

.description {
  font-size: 1.1rem;
  color: #636363;
  margin-top: 10px;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  color: #4a4a4a;
}

.img-head {
  width: 50%;
  height: auto;
  margin-top: 45px;
}

.container {
  background-color: white;
  text-align: center;
  width: 769px;
  height: auto;
  border-radius: 50px;
  margin: 0 12px;
}
