.containerr {
    background-color: white;
    text-align: center;
    display: inline-block;
    justify-content: center;
    position: absolute;
    left: 6%;
    right: 6%;
    top: 7%;
    bottom: 7%;
    border-radius: 50px;
  }
